*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  margin: 0;
  min-width: 400px;
}
.content{
  width: 97%;
  margin: 0% 20% 10px 2%;
}
.inputbox{
  width: 95%;
  height: 60px;
  border: 2px solid rgb(127, 202, 13);
  margin-bottom: 8px;
  box-shadow: 0px 0px 5px;
  font-size: 19px;
}
.inputbox::after{
  border: 2px solid rgb(127, 202, 13);
}
.savebtn, .tabtn, .deletebtn {
  font-size: 20px;
  font-weight: 700;
  padding: 5px 8px;
  border: none;
  cursor: pointer;
}
.savebtn, .tabtn{
  background-color: rgb(122, 199, 7);
  color: white;
}
.deletebtn{
  color: rgb(124, 202, 6);
  background-color: rgb(231, 231, 216);
}